body {
  background-color: #333745;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.clock {
  padding: 20px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: solid 12px #EA2E49;
  margin: 0 auto;
}

.clock-face {
  height: 100%;
  width: 100%;
  position: relative;
}

.hand {
  position: absolute;
  top: 50%;
  height: 3px;
  width: 50%;
  background-color: #DAEDEA;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.second-hand {
  background-color: #F6F792;
}
