.clock {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 3px blue;
  position: relative;
}

.hand {
  position: absolute;
  top: 50%;
  height: 2px;
  width: 50%;
  background-color: black;
  transform-origin: 100%;
  transform: rotate(90deg);
}
